<!-- handstatic.html -->
<section class="showcase" #root>
  <div class="grid">
    <article class="card" *ngFor="let c of cards">
      <div class="copy">
        <div class="line"><p>{{ c.title }}</p></div>
        <div class="line"><p>({{ c.subtitle }})</p></div>
      </div>

      <div class="frame">
        <div class="screen">
          <img [src]="c.img" [alt]="c.title" />
        </div>
      </div>
    </article>
  </div>

  <div class="title-lane">
    <div class="title">
      <div class="title-group title-left">
        <div class="letter" *ngFor="let ch of leftChars">
          <div class="letter-inner">{{ ch }}</div>
        </div>
      </div>

      <div class="title-group title-right">
        <div class="letter" *ngFor="let ch of rightChars">
          <div class="letter-inner">{{ ch }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
